@font-face {
    font-family: 'Lustria';
    src: url('Lustria-Regular.woff2') format('woff2'),
        url('Lustria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

